.itemselectorheading{
    font-weight: 700;
}

.itemselectorstack{
    width: 100%;
}

.dropbox{
    min-height: 2rem;
    max-width: 90vw;
}

.dragitem{
    margin: 3px;
    border-radius: 0.375rem; // Same as Chakra UI button's border radius
    width: min(100% - 10px, 20rem - 10px);
}