.fixturebox {
    border-width: 2px;
    border-radius: 0.375rem; // Same as Chakra UI button's border radius
}

.fixturebox_subbox {
    border-width: 2px;
    border-radius: 0.375rem; // Same as Chakra UI button's border radius
}


.fixturebox_heading {
    font-weight: bold;
}